<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="web.dao.face.MateDAO">
  
  <select id="selectAllMate">
  
  select a.userId,a.profileImg,a.profileThumbImg,b.mateSearchTitle,b.mateSearchDate,b.mateSearchLocation,b.mateSearchContent
  from tbl_member a
  inner join tbl_mate b
  a.userId = b.userId
   
    
  </select>
  
  <insert id="registMate">
   insert into tbl_mate (mateSearchTitle,mateSearchDate,mateSearchLocation,mateSearchContent)
  values(#{mateSearchTitle},#{mateSearchDate},#{mateSearchLocation},#{mateSearchContent})   
    
  </insert> 

  
  
  </mapper>